{% extends 'student_template/base_template.html' %}
{% load static %}
{% block page_title %}
CIE Schedule
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">CIE Schedule</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Subject Code</th>
                                    <th>Semester</th>
                                    <th>Test 1 Date</th>
                                    <th>Test 2 Date</th>
                                    <th>Test 3 Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for test in tests %}
                                <tr>
                                    <td>{{test.subject_code}}</td>
                                    <td>{{test.semester}}</td>
                                    <td>{{test.test1_date}}</td>
                                    <td>{{test.test2_date}}</td>
                                    <td>{{test.test3_date}}</td>
                                </tr>
                                {% endfor %}
                                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

          
      
      
      
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->

{% endblock main_content %}