
{% extends 'hod_template/base_template.html' %}
{% load static %}
{% block page_title %}
Add Student
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Add Student</h3>
        </div>

        <form role="form" action="/add_student_form_save" method="post">
          {% csrf_token %}
          <div class="card-body">
            <div class="form-group">
              <label>Email address</label>
              <input type="email" class="form-control" name="email" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control"  placeholder="Password" name="password">
            </div>
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control" placeholder="First Name" name="first_name">
            </div>
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control" placeholder="Last Name" name="last_name">
            </div>
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" placeholder="Username" name="username">
            </div>
            <div class="form-group">
              <label>Address</label>
              <input type="text" class="form-control" placeholder="Address" name="address">
            </div>
            <div class="form-group">
                <label>Course</label>
                <select class="form-control" name="course_id">
                    {% for course in courses %}
                        <option value="{{course.id}}">{{course.course_name}}</option>
                    {%endfor%}
                </select> 
            </div>
            <div class="form-group">
              <label>Section</label>
              <input type="text" class="form-control" placeholder="Section" name="section">
            </div>
            <div class="form-group">
              <label>Gender</label>
              <select class="form-control" name="gender">
                  <option>M</option>
                  <option>F</option>
              </select>
          </div>
            <div class="form-group"> 
              <label>Session Year</label>
              <select class="form-control" name="session_year_id_id" id="session_year_id_id">
                  {% for session_year in session_years %}
                    <option value="{{ session_year.id }}">{{ session_year.session_start_year }} TO {{ session_year.session_end_year }}</option>
                  {% endfor %}
              </select>
                <!--<input type="date" class="form-control" placeholder="Session Start Year" name="session_start_year">-->
            </div>
            <div class="form-group">
              <label>Father Name</label>
              <input type="text" class="form-control" placeholder="Father Name" name="father_name">
            </div>
            <div class="form-group">
              <label>Father's Phone Number</label>
              <input type="number" class="form-control" placeholder="Father's Phone Number" name="father_num">
            </div>
            <div class="form-group">
              <label>Mother Name</label>
              <input type="text" class="form-control" placeholder="Mother Name" name="mother_name">
            </div>
            <div class="form-group">
              <label>Mother's Phone Number</label>
              <input type="number" class="form-control" placeholder="Mother's Phone Number" name="mother_num">
            </div>
            <div class="form-group">
              <label>Guardian Name</label>
              <input type="text" class="form-control" placeholder="Guardian Name" name="gaurdian_name">
            </div>
            <div class="form-group">
              <label>Guardian's Phone Number</label>
              <input type="number" class="form-control" placeholder="Guardian's Phone Number" name="gaurdian_num" value="0">
            </div>
            <div class="form-group">
              <label>Parent/Guardian Email</label>
              <input type="email" class="form-control" placeholder="Email id" name="parent_or_gaurdian_email">
            </div>
            
          
            
            <div class="form-group">
              {% if messages %}
              <!-- /.col -->
              <div class="col-12">
                {% for message  in messages %}
                {% if message.tags == 'error' %}
                <div class="alert alert-danger" style="margin-top:8px">{{message}}</div>
                {% endif%}
                {% if message.tags == 'success' %}
                <div class="alert alert-success" style="margin-top:8px">{{message}}</div>
                {% endif%}
                {% endfor %}
              </div>
              {% endif %}
            </div>
            
          </div>

          <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-block">Add Student</button>
          </div>
        </form>
      </div>
        </div>
      </div>
      
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->

{% endblock main_content %}