{% extends 'hod_template/base_template.html' %}
{% load static %}
{% block page_title %}
Manage Session
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Session Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Session Start Year</th>
                                    <th>Session End Year</th>
                                    <th>Action</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for session_year in sessionyearmodel %}
                                <tr>
                                    <td>{{session_year.id }}</td>
                                    <td>{{session_year.session_start_year}}</td>
                                    <td>{{session_year.session_end_year}}</td>
                                    <th><a href = "/edit_session/{{session_year.id}}"class="btn btn-success">Edit</a></th>
                                    <th><a href = "/delete_session_confirm/{{session_year.id}}"class="btn btn-danger">Delete</a></th>
                                </tr>
                                {% endfor %}
                                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

          
      
      
      
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->

{% endblock main_content %}