{% extends 'hod_template/base_template.html' %}
{% load static %}
{% block page_title %}
Manage Admin
{% endblock page_title %}
{% block main_content %}
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Admin Details</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th>Last Login</th>
                                    <th>Date Joined</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for admin in admins %}
                                <tr>
                                    <td>{{admin.id }}</td>
                                    <td>{{admin.admin.first_name}}</td>
                                    <td>{{admin.admin.last_name}}</td>
                                    <td>{{admin.admin.username}}</td>
                                    <td>{{admin.admin.email}}</td>
                                    <td>{{admin.gender}}</td>
                                    <td>{{admin.address}}</td>
                                    <td>{{admin.admin.last_login}}</td>
                                    <td>{{admin.admin.date_joined}}</td>
                                    <th><a href = "/edit_admin/{{admin.admin.id}}"class="btn btn-success">Edit</a></th>
                                </tr>
                                {% endfor %}
                                    
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

          
      
      
      
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->

{% endblock main_content %}